body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
  padding: 30px;
}

header h1,
a {
  color: #ffffff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.content p {
  padding: 10px;
  width: 100%;
  font-size: 1.5em;
  line-height: 40px;
}

.firstImage {
  background: url("./imagens/background001.jpg") no-repeat center center;
  background-size: cover;
}

.secondImage {
  background: url("./imagens/background002.jpg") no-repeat center center;
  background-size: cover;
}

.firstImage,
.secondImage {
  background-attachment: fixed;
}

.firstImage p,
.secondImage p {
  width: 60%;
  background-color: #000000a8;
  color: white;
  text-shadow: 1px 1px black;
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .content p {
    padding: 10px;
    width: 100%;
    font-size: 1.5em;
    line-height: 40px;
  }

  .firstImage {
    background: url("./imagens/background001.jpg") no-repeat center center;
    background-size: cover;
  }

  .secondImage {
    background: url("./imagens/background002.jpg") no-repeat center center;
    background-size: cover;
  }

  .firstImage p,
  .secondImage p {
    width: 60%;
    background-color: #000000a8;
    color: white;
    text-shadow: 1px 1px black;
  }
  .firstImage,
  .secondImage {
    background-attachment: fixed;
  }
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .content p {
    padding: 10px;
    width: 100%;
    font-size: 1.5em;
    line-height: 40px;
  }

  .firstImage {
    background: url("./imagens/background001.jpg") no-repeat center center;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
  }

  .secondImage {
    background: url("./imagens/background002.jpg") no-repeat center center;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
  }

  .firstImage p,
  .secondImage p {
    width: 50%;
    background-color: #000000a8;
    color: white;
    text-shadow: 1px 1px black;
  }
  .firstImage,
  .secondImage {
    background-attachment: fixed;
  }
}
@media (min-width: 961px) {
  .firstImage p,
  .secondImage p,
  .content p {
    font-size: 2em;
    line-height: 60px;
  }
  .firstImage,
  .secondImage {
    background-attachment: fixed;
  }
}
@media (min-width: 1025px) {
  .firstImage p,
  .secondImage p {
    width: 30%;
    background-color: #000000a8;
    color: white;
    text-shadow: 1px 1px black;
  }
  .firstImage {
    background: url("./imagens/background001.jpg") no-repeat center center;
    background-size: cover;
    height: 1000px;
    display: flex;
    align-items: center;
  }

  .secondImage {
    background: url("./imagens/background002.jpg") no-repeat center center;
    background-size: cover;
    height: 1000px;
    display: flex;
    align-items: center;
  }
  .firstImage,
  .secondImage {
    background-attachment: fixed;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
